#soundy {
    position: absolute;
    top: 0;
    right: 0;
}

.recording-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .action-wrapper {
        padding: .5em;
        width: 250px;
        margin: 0 auto;
        border-radius: 3px;
        text-align: center;
        background: $graySlightBlue;
        transition: transform 1.0s;
        transform-style: preserve-3d;
    }

    .progress {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 16px;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        background: $deepGrayBlue;
        transition: all .5s;
    }

    &[data-phase=started] {
        perspective: 900px;
        background: transparent;
    }

    &[data-phase=started] .action-wrapper {
        transform: rotateX(75deg);
    }

}


.icon-circle {
    position: absolute;
    left: .5em;
    top: 1em;
    font-size: 0.7em;
    color: $inertRecording;
}
.recording > .icon-circle {
    -webkit-animation: recordingPulse 2.0s linear infinite;
    animation: recordingPulse 2s linear infinite;
}

.record-btn,
.play-btn,
.stop-btn{
    cursor: pointer;
    font-size: 1.5em;
    color: $purpleAction;
}
