//Colors
$purpleAction: rgb(182, 109, 226);
$graySlightBlue: rgb(37, 38, 45);
$inertRecording: rgb(65, 53, 57);

$baseRecordingRed: rgba(237, 43, 108, 0.50);
$growthRecordingRed: rgba(237, 43, 108, 0.660);
